@model BusinessConnectManagement.Models.Post

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Faculty/Views/Shared/_Layout.cshtml";
}



    <form id="addForm" method="post" action="@Url.Action("Create", "Posts")" enctype="multipart/form-data">
        <section class="list">
            <h1 class="list-heading">Thêm Bài Viết</h1>
            <div class="grid wide">
                <div class="tab-content">
                    <div class="row">
                            <div class="col l-12">
                                <div class="form-group">
                                    <label for="businessName" class="form-label">Tiêu đề</label>
                                    <div style="width: 590px;">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-input" } })
                                    </div>

                                </div>
                            </div>
                            <div class="col l-9">
                                <div class="form-group">
                                    <label for="ddlBussines_ID" class="form-label">Mã Doanh Nghiệp</label>
                                    @* <input list="" name="Business_ID" id="businessID" class="form-input" autocomplete="off" required />*@
                                    <select name="Business_ID" id="ddlBussines_ID" class="form-select">
                                        @foreach (var item in ViewBag.Business_ID)
                                        {
                                            <option value=@item.ID>@item.BusinessName</option>
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col l-9">
                                <div class="form-group">
                                    <label for="logo" class="form-label">Logo</label>
                                    <div style="display: flex; flex-direction: column">
                                        <img style="width: 22rem; height:fit-content; margin: 0 0 1rem 0;" />
                                        <input name="logo" class="form-input" type="file" id="logo"
                                               accept="image/png, image/gif, image/jpeg" required />

                                    </div>
                                </div>
                            </div>
                            <div class="col l-12">
                                <div class="form-group">
                                    <label for="address" class="form-label">Mô tả</label>
                                    @Html.TextAreaFor(model => model.Description, new { @id = "Explanation" })
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="button-wrapper">
                    <a class="btn btn-action btn--detail" href="@Url.Action("Index", "Posts")">Trở Về</a>
                    <button class="btn btn-action btn--create" onclick="getValueCheckBoxAndSubmit()" type="submit">Thêm</button>
                </div>
            </div>
        </section>
    </form>


@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/assets/js/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/ckfinder/ckfinder.js")"></script>
    <script type="text/javascript">
        
        /* var editor = CKEDITOR.instances['editor1'];
	 	    if (editor) { editor.destroy(true); }*/
		    CKEDITOR.replace('Explanation'/*, {
		        enterMode: CKEDITOR.ENTER_BR,
		    }*/);
		   @* CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder")');
*@
    </script>

}
