@model IEnumerable<BusinessConnectManagement.Models.Registration>

@{
    ViewBag.Title = "Registration List";
    Layout = "~/Areas/Faculty/Views/Shared/_Layout.cshtml";
}

<section class="list">
    <h1 class="list-heading">DANH SÁCH ỨNG TUYỂN</h1>
    @if (TempData != null)
    {
        @Html.Raw(@TempData["AlertMessage"])
    }
    <div class="list-table">
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Họ và Tên</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">SĐT</th>
                    <th class="text-center">Bài viết Ứng tuyển</th>
                    <th class="text-center">CV</th>
                    <th class="text-center">Trạng thái</th>
                    <th width="13%" class="text-center">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @{ int count = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@count</td>
                        <td>@Html.DisplayFor(modelItem => item.VanLangUser.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email_VanLang)</td>
                        <td>@Html.DisplayFor(modelItem => item.VanLangUser.Mobile)</td>
                        <td>@Html.DisplayFor(modelItem => item.Post.Title)</td>
                        <td><a href="@Url.Action("DownloadFile", "Registration", new {filePath = item.CV})">@Html.DisplayFor(modelItem => item.CV)</a></td>
                        <td>@Html.DisplayFor(modelItem => item.StatusRegistration)</td>
                        <td>
                            <a onclick="loadEditStatus('@item.ID', '@item.Comment', '@item.Business_ID', '@item.Email_VanLang', '@item.Post_ID', '@item.Semester_ID', '@item.CV', '@item.RegistrationDate', '@item.RegistrationModify', '@item.InterviewResult', '@item.InterviewResultComment', '@item.StatusInternview')">
                                <div class="btn btn--update">
                                    <i class="btn-icon btn-icon--update fas fa-edit"></i>
                                    <span class="btn-text">Cập nhật</span>
                                </div>
                            </a>

                            <a href="@Url.Action("Details", "Registration", new { id = item.ID })">
                                <div class="btn btn--detail">
                                    <i class="btn-icon btn-icon--detail fas fa-info-circle"></i>
                                    <span class="btn-text">Chi tiết</span>
                                </div>
                            </a>
                        </td>
                    </tr>

                    count++;
                }
            </tbody>
        </table>
    </div>
</section>

<form class="form" id="deleteForm" method="post">
</form>

<form class="form" id="addForm" method="post">
</form>

<form action="@Url.Action("Edit", "Registration")" class="form" id="updateForm" method="post">

    <div class="form-container">
        <i class="form-icon fas fa-times-circle"></i>
        <h1 class="form-heading">Cập nhật Kết quả</h1>
        <div class="form-group">
            <label class="form-label">Trạng Thái</label>
            <select id="status" name="StatusRegistration" class="form-input">
                <option value="Chờ phê duyệt">Chờ phê duyệt</option>
                <option value="Phê duyệt">Phê duyệt</option>
            </select>
        </div>
            <div class="form-group">
                <label for="comment" class="form-label">Nhận xét</label>
                <textarea name="Comment" id="comment" class="form-input" autocomplete="off"></textarea>
            </div>

            <div class="form-group">
                <input list="" name="id" id="id" class="form-input" hidden />
                <input list="" name="Business_ID" id="idb" class="form-input" hidden />
                <input list="" name="Email_VanLang" id="email" class="form-input" hidden />
                <input list="" name="Post_ID" id="post" class="form-input" hidden />
                <input list="" name="Semester_ID" id="semeter" class="form-input" hidden />
                <input list="" name="CV" id="cv" class="form-input" hidden />
                <input list="" name="RegistrationDate" id="rd" class="form-input" hidden />
                <input list="" name="RegistrationModify" id="rm" class="form-input" hidden />
                <input list="" name="InterviewResult" id="ir" class="form-input" hidden />
                <input list="" name="InterviewResultComment" id="irc" class="form-input" hidden />
                <input list="" name="StatusInternview" id="sr" class="form-input" hidden />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn--add">Lưu</button>
            </div>
        </div>
</form>

<script type="text/javascript">
    function loadEditStatus(id, comment, idb, email, post, semeter, cv, rd, rm, ir, irc, sr) {
        let formUpdate = document.getElementById("updateForm");
        formUpdate.classList.add('is-appear');

        document.getElementById('id').value = id;
        document.getElementById('comment').value = comment;
        document.getElementById('idb').value = idb;
        document.getElementById('email').value = email;
        document.getElementById('semeter').value = semeter;
        document.getElementById('post').value = post;
        document.getElementById('cv').value = cv;
        document.getElementById('rd').value = rd;
        document.getElementById('rm').value = rm;
        document.getElementById('ir').value = ir;
        document.getElementById('irc').value = irc;
        document.getElementById('sr').value = sr;
    }

    function submitEdit() {
        $("#updateForm").save();
    }

</script>