@model BusinessConnectManagement.Models.MOU
@using PagedList.Mvc;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var items = ViewBag.Posts;
}

<main>

    <div id="bg-bread">
        <div class="overlay-bread"></div>
        <div class="container">
            <div class="left">
                <div class="d-flex align-middle mb10">
                    <img class="avt" src="@Url.Content("~/Uploads/Images/" + Model.BusinessUser.BusinessLogo)" alt="image-job">
                    <h3 class="text-h2">@Model.BusinessUser.BusinessName</h3>

                </div>

            </div>
            <div class="right">

            </div>
        </div>
    </div>

    <section id="description">
        <div class="container mt30">
            <div class="columns">
                <div class="column col-8 col-sm-12 col-md-12 col-xl-9 mb10">
                    <div class="my10">
                        <section id="job">
                            <div class="container">
                                <div class="title-home">
                                    <h3>Công việc của doanh nghiệp</h3>
                                    <a style="margin-top:14px; color:red" href="@Url.Action("Index", "Posts")">Xem thêm</a>
                                </div>

                                <div class="columns pt30">
                                    @foreach (var item in ViewBag.Posts)
                                    {

                                        <div class="column col-6 col-sm-12 col-md-12 col-xl-6 mb10">
                                            <a href="@Url.Action("Details", "Posts",  new { id=item.ID })">
                                                <div class="item d-flex align-middle">
                                                    <img src="@Url.Content("~/Uploads/Images/" + item.BusinessUser.BusinessLogo)" alt="image-job">
                                                    <div class="content">
                                                        <div class="d-flex align-middle justify-between mb-2">
                                                            <h3 class="text-h4 bold-6 mb-0 ellipsis">@item.Title</h3>
                                                            <div class="chip bg-error">
                                                                <small class="bold-6">Nổi bật</small>
                                                            </div>
                                                        </div>
                                                        <p class="bold-6 text-italic mb-2">@item.BusinessUser.BusinessName</p>
                                                        <div class="desc d-flex align-middle mb-2">
                                                            <span class="mb-0 mr10 text-muted">
                                                                <i class="fa-solid fa-location-dot"></i>
                                                                @item.BusinessUser.Address
                                                            </span>
                                                        </div>
                                                        <p class="text-primary bold-6">
                                                            <i>Hạn nộp: @item.DueDate</i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                    }
                                </div>
                                <div class="pagination-container" style="float: right">

                                </div>
                                <div class="center">
                                    <div class="pagination-container">

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="column col-4 col-sm-12 col-md-12 col-xl-3 mb10">
                    <div class="table-featured">
                        <div class="title">
                            <div class="d-flex align-middle mb10">
                                <img class="avt" src="@Url.Content("~/Uploads/Images/" + Model.BusinessUser.BusinessLogo)" alt="image-job">
                                <div class=" ml15">
                                    <p class="bold-6 mb-1">@Model.BusinessUser.BusinessName</p>
                                    <p class="mb-0"><i class="fa-solid fa-paper-plane"></i> Địa chỉ: @Model.BusinessUser.Address</p>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <li class="d-flex align-middle">
                                <i class="fa-solid fa-phone mr10"></i> @Model.BusinessUser.ContactPhone_1
                            </li>
                            <li class="d-flex align-middle">
                                <i class="fa-solid fa-envelope mr10"></i> @Model.BusinessUser.EmailContact
                            </li>
                            <li class="d-flex align-middle">
                                @if (Model.BusinessUser.Website != null)
                                {
                                    <i class="fa-solid fa-earth-americas mr10"></i> @Model.BusinessUser.Website
                                }
                                else
                                {
                                    <i class="fa-solid fa-earth-americas mr10"></i> <span>Thông tin chưa cập nhật.</span>
                                }

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main> 