@model BusinessConnectManagement.Models.MOU

@{
    ViewBag.Title = "MOU Details";
    Layout = "~/Areas/Faculty/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)


    @Html.ValidationSummary(true)

    <section class="list">
        <h1 class="list-heading">Chi Tiết Ký Kết MOU</h1>
        <div class="grid wide">
            <div class="tab-content">
                <div class="row">
                    <div class="col l-6">
                        @Html.HiddenFor(model => model.Business_ID)
                        <div class="form-group">
                            @Html.HiddenFor(model => model.BusinessUser.BusinessName)
                            <label for="ddlBussines_ID" class="form-label">Tên Doanh Nghiệp &nbsp;&nbsp;&nbsp;</label>
                            <input class="form-input" value="@Model.BusinessUser.BusinessName"
                                   autocomplete="off" disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.BusinessUser.BusinessName, "", new { @class = "text-danger"})
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label for="daysigning" class="form-label">Ngày Ký &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input list="" name="SignDay" id="daysigning" class="form-input" type="date" value=""
                                   autocomplete="off" disabled />
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label for="signer" class="form-label">Tên Người Ký &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            @Html.EditorFor(model => model.Signer, new { htmlAttributes = new { @class = "form-input", disabled = "true" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.Signer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Tên Người Liên Hệ &nbsp;&nbsp;</label>
                            @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-input", disabled = "true" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">SĐT Người Liên Hệ &nbsp;&nbsp; </label>
                            @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @class = "form-input", disabled = "true" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.ContactPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Email Người Liên Hệ</label>
                            @Html.EditorFor(model => model.EmailContact, new { htmlAttributes = new { @class = "form-input", disabled = "true" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.EmailContact, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Tên Người Phụ Trách</label>
                            @Html.EditorFor(model => model.ResponsibleName, new { htmlAttributes = new { @class = "form-input", disabled = "true" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.ResponsibleName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrapper">
                <a href="@Url.Action("Index")" class="btn btn--back">Trở Về</a>
                <a href="@Url.Action("Edit", "MOUs",  new { id=Model.ID })" class="btn btn--update">Cập Nhật</a>
            </div>
        </div>

    </section>
}
