@model IEnumerable<BusinessConnectManagement.Models.InternshipResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="list">
    <h1 class="list-heading">DANH SÁCH SINH VIÊN HƯỚNG DẪN</h1>
    @if (TempData != null)
    {
        @Html.Raw(@TempData["AlertMessage"])
    }
<div class="row">
    <div class="rg_status"></div>
    <div class="rg_role" style="left"></div>
    <label id="nameLabel">Lọc:</label>
</div>
    <div class="list-table">
        <div id="filterEvent">
            <div class="btn btn--createe" id="export" style=" z-index: 1; width: 110px; margin-right: 10px;">
                <span class="btn-text">Export Excel</span>
            </div>
        </div>
        <table id="table_listData" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th>Họ và Tên</th>
                    <th>SĐT</th>
                    <th>Doanh Nghiệp</th>
                    <th width="333px">Vị Trí</th>
                    <th>Trạng thái</th>
                    <th>Học Kỳ</th>
                    <th>Chức Năng</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
@*-------------------------detail--------------------------------*@
<form class="form" id="updateForm" method="post">
    <div class="form-container">
        <h1 class="form-heading">Thông Tin Sinh Viên Hướng Dẫn</h1>
        <div class="form-row">
            <div class="form-column">
                <div class="form-group">
                    <label for="Username" class="form-label">Họ và tên</label>
                    <input class="form-input" id="name" autocomplete="off" disabled />
                </div>
                <div class="form-group">
                    <label for="BusinessName" class="form-label">Email</label>
                    <input class="form-input" id="email" autocomplete="off" disabled />
                </div>
                <div class="form-group">
                    <label for="status" class="form-label">Chuyên Nghành</label>
                    <input class="form-input" id="major" autocomplete="off" disabled />
                </div>
                <div class="form-group">
                    <label for="Website" class="form-label">Tên Doanh Nghiệp</label>
                    <input type="text" id="businessname" class="form-input" autocomplete="off" / disabled>
                </div>
            </div>
            <div class="form-column">
                <div class="form-group">
                    <label for="Password" class="form-label">MSSV</label>
                    <input type="text" id="mssv" class="form-input" autocomplete="off" disabled />
                </div>
                <div class="form-group">
                    <label for="Address" class="form-label">SĐT</label>
                    <input type="text" id="phone" class="form-input" autocomplete="off" disabled />
                </div>

                <div class="form-group">
                    <label for="BusinessPhone" class="form-label">Vị trí  thực tập</label>
                    <input type="text" id="position" class="form-input" autocomplete="off" disabled />
                </div>
                <div class="form-group">
                    <label for="Address" class="form-label">Email Doanh Nghiệp</label>
                    <input type="text" id="businessmail" class="form-input" autocomplete="off" disabled />
                </div>
            </div>
        </div>

        <div class="form-group">
            <a class="btn btn--confirm" id="btn--cancel">
                Xác Nhận
            </a>

        </div>
    </div>
</form>
@*---------------------------------update-----------------------------*@
<form class="form" id="updateInternForm" method="post">
    <div class="form-container--small">
        <h1 class="form-heading">Đánh giá sinh viên thực tập</h1>
        <div class="form-group">
            <label for="Username" class="form-label">Chấm điểm</label>
            <input class="form-input" id="mentorpoint" name="MentorPoint" type="number" autocomplete="off" />
        </div>
        <div class="form-group">
            <label for="BusinessName" class="form-label">Nhận xét</label>
            <textarea class="form-input" id="mentorcomment" name="MentorComment" autocomplete="off"></textarea>
        </div>
        <input class="form-input" id="ID" name="ID" autocomplete="off" hidden />
        <input class="form-input" id="Email" name="Student_Email" autocomplete="off" hidden />
        <input class="form-input" id="sem_id" name="Semester_ID" autocomplete="off" hidden />
        <input class="form-input" id="mentor_email" name="Mentor_Email" autocomplete="off" hidden />
        <input class="form-input" id="business_id" name="Business_ID" autocomplete="off" hidden />
        <input class="form-input" id="businesspoint" name="BusinessPoint" autocomplete="off" hidden />
        <input class="form-input" id="businesscomment" name="BusinessComment" autocomplete="off" hidden />
        <input class="form-input" id="position_id" name="InternshipTopic_ID" autocomplete="off" hidden />
        <input class="form-input" id="status" name="Status" autocomplete="off" hidden />
        <div class="form-group">
            <a class="btn btn--cancel">
                Hủy
            </a>
            <button class="btn btn--confirm" id="btn--cancel" type="submit">
                Xác Nhận
            </button>

        </div>
    </div>
</form>

<form action="@Url.Action("ExportToExcel", "InternshipResultsMentor")" class="form" id="export_form" method="post">
    <div class="form-container--small">
        <h1 class="form-heading">Export Excel</h1>
        <div class="form-row">
            <div class="form-column">
                <div class="form-group">
                    <label class="form-label">Năm Học</label>
                    <select class="form-input" id="year">
                        @foreach (var item in ViewBag.YearStudy)
                        {
                            <option value="@item.ID">@item.YearStudy1</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label">Học Kỳ</label>
                    <select class="form-input" name="semester_id" id="semester">
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <a class="btn btn--cancel" id="cancel_export">Hủy</a>
            <button type="submit" id="confirm" class="btn btn-action btn--confirm">Xác Nhận</button>
        </div>
    </div>
</form>
@section Scripts {

    <script type="text/javascript">
        $(function () {
          var url = "@Url.Action("listDataIntern", "InternshipResultsMentor")"
            "use strict";
             (dataTable = $("#table_listData").DataTable({
                ajax: {
                     url: '/InternshipResultsMentor/getDataList',
                    type: "GET",
                    dataType: "json",
                     dataSrc: ""
                },
                deferRender: !0,
                 columns: [
                    { data: null },
                    { data: "name" },
                    { data: "phone" },
                    { data: "business" },
                    { data: "position" },
                     {
                         data: "status",
                         render: function (data) {
                             if (data == "Đang Thực Tập") {
                                 return '<span class="text-center text--wait">' + data + '</span>'
                             } else if (data == "Thực Tập Xong") {
                                 return '<span class="text-center text--done">' + data + '</span>'
                             }
                         }
                     },
                     { data: "semester_id" },
                     
                    {
                        data: "id",
                        render: function (t, e, a) {
                            return (
                                `
                                    <a href="@Url.Action("Details/", "InternshipResultsMentor")${t}" id="business_detail" class="business_detail">
                                        <div class="btn btn--detail">
                                            <i class="btn-icon btn-icon--detail fal fa-info-circle"></i>
                                        </div>
                                    </a>
                                    <a href="@Url.Action("Details/", "InternshipResultsMentor")${t}" id="business_detail" class="business_update">
                                         <div class="btn btn--update">
                                    <i class="btn-icon btn-icon--edit fal fa-edit"></i>
                                </div>
                                    </a>
                                `
                            );
                        },
                    },
                ],
                 initComplete: function () {
                     this.api()
                         .columns(6)
                         .every(function () {
                             var t = this,
                                 e = $(
                                     '<select id="UserType1" style="margin-right: 8px;border: 1px solid #aaa;border-radius: 3px;padding: 5px;background-color: transparent; margin-left: 3px;" class="form-select text-capitalize mb-md-0 mb-2xx"><option value=""> Chọn học kỳ để lọc </option></select>'
                                 )
                                     .prependTo("#table_listData_filter")
                                     .on("change", function () {
                                         var e = $.fn.dataTable.util.escapeRegex($(this).val());
                                         t.search(e ? "^" + e + "$" : "", !0, !1).draw();
                                     });
                             t.data()
                                 .unique()
                                 .sort()
                                 .each(function (t) {
                                     t &&
                                         e.append(
                                             '<option value="' + t + '" class="text-capitalize">' + t + '</option>'

                                         );
                                 })

                         }),
                         this.api()
                             .columns(3)
                             .every(function () {
                                 var t = this,
                                     e = $(
                                         '<select id="UserType2" style="margin-right: 8px;border: 1px solid #aaa;border-radius: 3px;padding: 5px;background-color: transparent; margin-left: 50px;" class="form-select text-capitalize mb-md-0 mb-2xx"><option value=""> ---- Chọn doanh nghiệp để lọc ---- </option></select>'
                                     )
                                         .prependTo("#table_listData_filter")
                                         .on("change", function () {
                                             var e = $.fn.dataTable.util.escapeRegex($(this).val());
                                             t.search(e ? "^" + e + "$" : "", !0, !1).draw();
                                         });
                                 t.data()
                                     .unique()
                                     .sort()
                                     .each(function (t) {
                                         t &&
                                             e.append(
                                                 '<option value="' + t + '" class="text-capitalize">' + t + '</option>'

                                             );
                                     })
                             });
                 }           
            })
            )
            dataTable.on("draw.dt", function () {
                dataTable.column(0, { search: "applied", order: "applied" }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            });
         });
        $('#table_listData').on('click', '.business_detail', function (e) {
            e.preventDefault()
            const form = document.getElementById('updateForm');
            form.classList.add('is-appear');
            const url = $(this).attr('href');
            $.ajax({
                url: url,
                type: "get",
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    $('#id').val(res[0].id)
                    $('#name').val(res[0].name)
                    $('#mssv').val(res[0].mssv)
                    $('#email').val(res[0].email)
                    $('#major').val(res[0].major)
                    $('#phone').val(res[0].phone)
                    $('#position').val(res[0].position)
                    $('#businessname').val(res[0].businessname)
                    $('#businessmail').val(res[0].businessmail)

                }
            })
        })
        $('#table_listData').on('click', '.business_update', function (e) {
            e.preventDefault()
            const form = document.getElementById('updateInternForm');
            form.classList.add('is-appear');
            const url = $(this).attr('href');
            $.ajax({
                url: url,
                type: "get",
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    const actionUrl = `@Url.Action("Edit", "InternshipResultsMentor")` + `/${res[0].id}`
                    $('#ID').val(res[0].id)
                    $('#name').val(res[0].name)
                    $('#mssv').val(res[0].mssv)
                    $('#Email').val(res[0].email)
                    $('#major').val(res[0].major)
                    $('#phone').val(res[0].phone)
                    $('#position').val(res[0].position)
                    $('#businessname').val(res[0].businessname)
                    $('#businessmail').val(res[0].businessmail)
                    $('#sem_id').val(res[0].sem_id)
                    $('#mentor_email').val(res[0].mentor_email)
                    $('#mentorpoint').val(res[0].mentorpoint)
                    $('#mentorcomment').val(res[0].mentorcomment)
                    $('#business_id').val(res[0].business_id)
                    $('#businesspoint').val(res[0].businesspoint)
                    $('#businesscomment').val(res[0].businesscomment)
                    $('#position_id').val(res[0].position_id)
                    $('#status').val(res[0].status)
                    $('#updateInternForm').attr('action', `${actionUrl}`)
                }
            })
        })
        $('#btn--cancel').on('click', function () {
            $('#updateForm').removeClass('is-appear')
        })
        $('.btn--cancel').on('click', function () {
            $('#updateInternForm').removeClass('is-appear')
        })
    </script>
    <script>
        $(document).ready(function () {
            $.validator.addMethod("blank", function (value, element) {
                return (!/^\s*$/.test(value));
            }, "Vui lòng nhập điểm đánh giá.");
            /*--------------------------update---------------*/
            $("#updateInternForm").validate();
            // cái này là on blur nè
            $("#updateInternForm input, #updateInternForm input").on("blur", function () {
                $(this).valid();
            });

            // cái này là on change nè
            $("#updateInternForm input, #updateInternForm input").on("change", function () {
                $(this).removeClass("error");
            });
        });
        $("#updateInternForm").validate({
            rules: {
                MentorPoint: {
                    required: true,
                    digits: true,
                    min: 0,
                    max: 10

                }
            },
            messages: {
                MentorPoint: {
                    required: "Vui lòng nhập điểm đánh giá.",
                    digits: "Điểm đánh giá chỉ bao gồm các kí tự số.",
                    min: "Điểm đánh giá từ 0 đến 10",
                    max: "Điểm đánh giá từ 0 đến 10",
                }
            }
        });
        $(document).ready(function () {
            var yearSelect = $('#year');
            var semesterSelect = $('#semester');

            yearSelect.on('change', function () {
    var selectedYearId = yearSelect.val();
    var selectedSemesterId = semesterSelect.val();
                var url = '@Url.Action("BindingSemester", "InternshipResultsMentor")' + '?selectedYearId=' + selectedYearId;
                console.log(url)
    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'json',
        success: function (res) {
        semesterSelect.empty();
        console.log(res)
        $.each(res, function (index, semester) {
            var selectedAttr = semester.Status ? 'selected' : ''; export_form
          semesterSelect.append('<option value="' + semester.ID + '" ' + selectedAttr + '>' + semester.Semester + '</option>');
        });
        semesterSelect.trigger('change'); // trigger the change event on semesterSelect
      },
    });
  });


});
        $('#export').on('click', function () {
            $('#year').trigger('change');
            $('#semester').trigger('change');
            $('#export_form').addClass('is-appear')
        })
        $('#cancel_export').on('click', function () {
            $('#export_form').removeClass('is-appear')
        })
        $('#confirm').on('click', function () {
            $('#export_form').removeClass('is-appear')
        })

    </script>
}