@model BusinessConnectManagement.Models.Registration

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Faculty/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationModify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationModify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterviewResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterviewResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterviewResultComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterviewResultComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessUser.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessUser.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester.Semester1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester.Semester1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusInternview.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusInternview.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VanLangUser.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VanLangUser.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
