
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!---------------------------------------------------
    // Slider :
    //----------------------------------------------->
    <div id="slider">
        <!-- carousel locator -->
        <video id="video-background" autoplay muted loop>
            <source src="https://vhub.vanlanguni.edu.vn/images/banner1.mp4" type="video/mp4">
        </video>
        <div class="form">
            <div class="container">
                <form action="">
                    <div class="columns">
                        <div class="column col-3 col-sm-12 col-md-6 col-xl-3 mb10 px-0">
                            <div class="form-group">
                                <input class="form-input" type="text" id="input-example-1" placeholder="Tìm việc">
                            </div>
                        </div>
                        <div class="column col-3 col-sm-12 col-md-6 col-xl-3 mb10 px-0">
                            <div class="form-group">
                                <select class="form-select">
                                    <option>Partime</option>
                                    <option>...</option>
                                    <option>...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="column col-3 col-sm-12 col-md-6 col-xl-3 mb10 px-0">
                            <div class="form-group">
                                <select class="form-select">
                                    <option>Thực tập</option>
                                    <option>...</option>
                                    <option>...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="column col-3 col-sm-12 col-md-6 col-xl-3 mb10 px-0">
                            <div class="btn btn-error w100">
                                Tìm kiếm
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!---------------------------------------------------
    // Số liệu :
    //----------------------------------------------->

    <section id="gioi-thieu">
        <div class="container">
            <div class="columns">
                <div class="column col-7 mb10">
                    <div class="wrapper">
                        <img src="/assets/User/assets/images/panner.png"  alt="banner"/>
                    </div>
                </div>
                <div class="column col-5 mb10">
                    <div class="body">
                        <h2>
                            Kết nối thành công mục tiêu nghề nghiệp
                        </h2>
                        <p>
                            Bạn có thể tự thiết kế CV, tìm kiếm hàng nghìn cơ hội việc làm được cập nhật mới mỗi
                            ngầy
                        </p>
                        <div class="btn-position">
                            <button class="d-flex">
                                <span>Đăng Tải CV</span>
                                <i class="fas fa-upload"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    

    <section id="featured-icon" style="background-image: url(https://vhub.vanlanguni.edu.vn/images/stat.jpg);">
        <div class="container">
            <div class="columns">
                <div class="column col-4">
                    <div class="text-center">
                        <img src="/assets/User/assets/images/user.png" alt="logo">
                        <h3>@ViewBag.CountStudent</h3>
                        <p>Sinh viên</p>
                    </div>
                </div>
                <div class="column col-4">
                    <div class="text-center">
                        <img src="/assets/User/assets/images/paper.png" alt="paper"/>
                        <h3>@ViewBag.CountPost</h3>
                        <p>Tin tuyển dụng</p>
                    </div>
                </div>
                <div class="column col-4">
                    <div class="text-center">
                        <img src="/assets/User/assets/images/company.png"  alt="company"/>
                        <h3>@ViewBag.CountBusiness</h3>
                        <p>Công ty</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="job">
        <div class="container">
            <div class="title-home">
                <h3>Công việc nổi bật</h3>
                <a href="@Url.Action("Index", "Posts")">Xem thêm</a>
            </div>
            
            <div class="columns pt30">
                @foreach (var item in ViewBag.Post)
                {

                    <div class="column col-6 col-sm-12 col-md-12 col-xl-6 mb10">
                        <a href="@Url.Action("Details", "Posts",  new { id=item.ID })">
                            <div class="item d-flex align-middle">
                                <img src="@Url.Content("~/Uploads/Images/" + item.BusinessUser.BusinessLogo)" alt="image-job">
                                <div class="content">
                                    <div class="d-flex align-middle justify-between mb-2">
                                        <h3 class="text-h4 bold-6 mb-0 ellipsis">@item.Title</h3>
                                        <div class="chip bg-error">
                                            <small class="bold-6">Nổi bật</small>
                                        </div>
                                    </div>
                                    <p class="bold-6 text-italic mb-2">@item.BusinessUser.BusinessName</p>
                                    <div class="desc d-flex align-middle mb-2">
                                        @* <span class="mb-0 mr10 text-error">
                                        <i class="fa-solid fa-briefcase"></i> Xây
                                        dựng
                                    </span>
                                    <span class="mb-0 mr10 text-success">
                                        <i class="fa-solid fa-tag"></i>
                                        Fresher
                                    </span>
                                    <span class="mb-0 mr10 text-warning">
                                        <i class="fa-solid fa-tag"></i>
                                        Fulltime
                                    </span>*@
                                        <span class="mb-0 mr10 text-muted">
                                            <i class="fa-solid fa-location-dot"></i> TP.Hồ
                                            Chí
                                            Minh
                                        </span>
                                    </div>
                                    <p class="text-primary bold-6">
                                        <i>Hạn nộp: 01/01/2023</i>
                                    </p>
                                </div>
                            </div>
                        </a>

                    </div>





                }


                </div>
            </div>
    </section>


   

<section id="mou" style="background-image: url(https://vhub.vanlanguni.edu.vn/images/sv-talk.jpg);">
    <div class="container">
        <div class="title-home">
            <h3 class="text-white">MOU</h3>
            <a href="#">Xem thêm</a>
        </div>
        <div class="columns py20">
            <div class="column col-4 col-sm-12 col-md-12 col-xl-4 mb10">
                <div class="item">
                    <div class="zoom-small">
                        <img src="./assets/images/mou1.jpg" alt="mou1">
                    </div>
                    <div class="py-2 d-flex align-middle scroll-mobile">
                        <small class="bold-6 bg-success rounded mr10 px-2 py-1">Công nghệ thông tin</small>
                        <small class="bold-6 bg-success rounded mr10 px-2 py-1">Marketing</small>
                        <small class="bold-6 bg-success rounded mr10 px-2 py-1">XNK</small>
                    </div>
                    <div class="name ellipsis">Tập đoàn Nashtech Global Việt Nam</div>
                    <p class="summary ellipsis-3 mb-0">
                        NashTech is part of Harvey Nash Group, the leading global
                        provider of talent and technology solutions. We are experts in technology, delivering
                        smart solutions that solve business challenges and create value. Our award-winning teams
                        apply deep expertise and passion to deliver complex IT projects globally.
                    </p>
                    <div class="text-center mt10">
                        <div class="btn btn-error">
                            Xem Thêm
                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-4 col-sm-12 col-md-12 col-xl-4 mb10">
                <div class="item">
                    <div class="zoom-small">
                        <img src="./assets/images/mou1.jpg" alt="mou1">
                    </div>
                    <div class="py-2 d-flex align-middle scroll-mobile">
                        <small class="bold-6 bg-success rounded mr10 px-2 py-1">Công nghệ thông tin</small>
                        <small class="bold-6 bg-success rounded mr10 px-2 py-1">Marketing</small>
                        <small class="bold-6 bg-success rounded mr10 px-2 py-1">XNK</small>
                    </div>
                    <div class="name ellipsis">Tập đoàn Nashtech Global Việt Nam</div>
                    <p class="summary ellipsis-3 mb-0">
                        NashTech is part of Harvey Nash Group, the leading global
                        provider of talent and technology solutions. We are experts in technology, delivering
                        smart solutions that solve business challenges and create value. Our award-winning teams
                        apply deep expertise and passion to deliver complex IT projects globally.
                    </p>
                    <div class="text-center mt10">
                        <div class="btn btn-error">
                            Xem Thêm
                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-4 col-sm-12 col-md-12 col-xl-4 mb10">
                <div class="item">
                    <div class="zoom-small">
                        <img src="./assets/images/mou1.jpg" alt="mou1">
                    </div>
                    <div class="py-2 d-flex align-middle scroll-mobile">
                        <small class="bold-6 bg-success rounded mr10 px-2 py-1">Công nghệ thông tin</small>
                        <small class="bold-6 bg-success rounded mr10 px-2 py-1">Marketing</small>
                        <small class="bold-6 bg-success rounded mr10 px-2 py-1">XNK</small>
                    </div>
                    <div class="name ellipsis">Tập đoàn Nashtech Global Việt Nam</div>
                    <p class="summary ellipsis-3 mb-0">
                        NashTech is part of Harvey Nash Group, the leading global
                        provider of talent and technology solutions. We are experts in technology, delivering
                        smart solutions that solve business challenges and create value. Our award-winning teams
                        apply deep expertise and passion to deliver complex IT projects globally.
                    </p>
                    <div class="text-center mt10">
                        <div class="btn btn-error">
                            Xem Thêm
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section id="employer">
        <div class="container">
            <div class="title-home mb30">
                <h3>Nhà tuyển dụng hàng đầu</h3>
            </div>

            <div class="slider mt30">
                <div class="slide-track">
                    <div class="slide">
                        <img src="/assets/User/assets/images/td1.jpg" alt="employer" />
                      
                    </div>
                    <div class="slide">
                        <img src="/assets/User/assets/images/td2.jpg" alt="employer" />
                    </div>
                    <div class="slide">
                        <img src="/assets/User/assets/images/td3.jpg" alt="employer" />
                    </div>
                    <div class="slide">
                        <img src="/assets/User/assets/images/td1.jpg" alt="employer" />
                    </div>
                    <div class="slide">
                        <img src="/assets/User/assets/images/td2.jpg" alt="employer" />
                    </div>
                    <div class="slide">
                        <img src="/assets/User/assets/images/td3.jpg" alt="employer" />
                    </div>
                    <div class="slide">
                        <img src="/assets/User/assets/images/td1.jpg" alt="employer" />
                    </div>
                    <div class="slide">
                        <img src="/assets/User/assets/images/td2.jpg" alt="employer" />
                    </div>
                    <div class="slide">
                        <img src="/assets/User/assets/images/td3.jpg" alt="employer" />
                    </div>
                    <div class="slide">
                        <img src="/assets/User/assets/images/td1.jpg" alt="employer" />
                    </div>
                    <div class="slide">
                        <img src="/assets/User/assets/images/td2.jpg" alt="employer" />
                    </div>
                    <div class="slide">
                        <img src="/assets/User/assets/images/td3.jpg" alt="employer" />
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>