
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!---------------------------------------------------
    // Slider :
    //----------------------------------------------->
    <div id="slider" class="carousel">
        <!-- carousel locator -->
        <input class="carousel-locator" id="slide-1" type="radio" name="carousel-radio" hidden="" checked="">
        <input class="carousel-locator" id="slide-2" type="radio" name="carousel-radio" hidden="">

        <!-- carousel container -->
        <div class="carousel-container">
            <!-- carousel item -->
            <figure class="carousel-item">
                <label class="item-prev btn btn-action btn-lg" for="slide-4">
                    <i class="icon icon-arrow-left"></i>
                </label>
                <label class="item-next btn btn-action btn-lg" for="slide-2">
                    <i class="icon icon-arrow-right"></i>
                </label>
                <img class="img-responsive rounded" src="~/assets/User/assets/images/slider.jpg" alt="macOS Yosemite Wallpaper">
            </figure>
            <figure class="carousel-item">
                <label class="item-prev btn btn-action btn-lg" for="slide-1">
                    <i class="icon icon-arrow-left"></i>
                </label>
                <label class="item-next btn btn-action btn-lg" for="slide-3">
                    <i class="icon icon-arrow-right"></i>
                </label>
                <img class="img-responsive rounded" src="~/assets/User/assets/images/slider2.jpg"
                     alt="macOS Yosemite Wallpaper">
            </figure>
        </div>
        <!-- carousel navigation -->
        <div class="carousel-nav">
            <label class="nav-item text-hide c-hand" for="slide-1">1</label>
            <label class="nav-item text-hide c-hand" for="slide-2">2</label>
        </div>
    </div>

    <!---------------------------------------------------
    // Số liệu :
    //----------------------------------------------->
    <section id="intro-home" class="">
        <div class="container">
            <div class="columns scroll-mobile">
                <div class="column col-4 col-sm-12 col-md-9 col-xl-4">
                    <div class="item d-flex align-middle justify-center">
                        <div class="text-center bg-error s-circle mr20">
                            <i class="fa-solid fa-user fa-2x"></i>
                        </div>
                        <div class="">
                            <p class="text-h1 mb-0 text-error">@ViewBag.CountStudent</p>
                            <p>Sinh viên</p>
                        </div>
                    </div>
                </div>
                <div class="column col-4 col-sm-12 col-md-9 col-xl-4">
                    <div class="item d-flex align-middle justify-center">
                        <div class="text-center bg-primary s-circle mr20">
                            <i class="fa-regular fa-newspaper fa-2x"></i>
                        </div>
                        <div class="">
                            <p class="text-h1 mb-0 text-primary">@ViewBag.CountPost</p>
                            <p>Tin tuyển dụng</p>
                        </div>
                    </div>
                </div>
                <div class="column col-4 col-sm-12 col-md-9 col-xl-4">
                    <div class="item d-flex align-middle justify-center">
                        <div class="text-center main-bg-color s-circle mr20">
                            <i class="fa-solid fa-briefcase fa-2x"></i>
                        </div>
                        <div class="">
                            <p class="text-h1 mb-0 main-text-color">@ViewBag.CountBusiness</p>
                            <p>Công ty</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="banner">
        <div class="container">
            <div class="zoom-small">
                <img src="../assets/User/assets/images/banner1.jpg" alt="banner" />
            </div>
        </div>
    </section>

    <section id="job">
        <div class="container">
            <div class="title-line d-flex justify-center">
                <h3>Công việc nổi bật</h3>
            </div>
            <div style="text-align: right">
                <h4><a href="@Url.Action("Index", "Posts")">Xem thêm</a></h4>
            </div>
            <div class="columns pt30">
                @foreach (var item in ViewBag.Post)
                {

                    <div class="column col-6 col-sm-12 col-md-12 col-xl-6 mb10">
                        <a href="@Url.Action("Details", "Posts",  new { id=item.ID })">
                            <div class="item d-flex align-middle">
                                <img src="@Url.Content("~/Uploads/Images/" + item.BusinessUser.BusinessLogo)" alt="image-job">
                                <div class="content">
                                    <div class="d-flex align-middle justify-between mb-2">
                                        <h3 class="text-h4 bold-6 mb-0 ellipsis">@item.Title</h3>
                                        <div class="chip bg-error">
                                            <small class="bold-6">Nổi bật</small>
                                        </div>
                                    </div>
                                    <p class="bold-6 text-italic mb-2">@item.BusinessUser.BusinessName</p>
                                    <div class="desc d-flex align-middle mb-2">
                                        @* <span class="mb-0 mr10 text-error">
                                        <i class="fa-solid fa-briefcase"></i> Xây
                                        dựng
                                    </span>
                                    <span class="mb-0 mr10 text-success">
                                        <i class="fa-solid fa-tag"></i>
                                        Fresher
                                    </span>
                                    <span class="mb-0 mr10 text-warning">
                                        <i class="fa-solid fa-tag"></i>
                                        Fulltime
                                    </span>*@
                                        <span class="mb-0 mr10 text-muted">
                                            <i class="fa-solid fa-location-dot"></i> TP.Hồ
                                            Chí
                                            Minh
                                        </span>
                                    </div>
                                    <p class="text-primary bold-6">
                                        <i>Hạn nộp: 01/01/2023</i>
                                    </p>
                                </div>
                            </div>
                        </a>

                    </div>


                }


            </div>
        </div>
    </section>


    <!--<section id="banners" class="p-banner bg-white">-->
        <!-- <pre>{{pos_banners}}</pre> -->
        <!--<div class="container">
            <div class="columns">
                <div class="column col-6 col-sm-12 col-md-12 col-xl-6 mb10">
                    <div class="left wrapper-banner">
                        <img class="shadow rounded w100" src="~/assets/User/assets/images/banner1.jpg" :alt="site.keywords" />
                        <div class="line-hover"></div>
                    </div>
                </div>
                <div class="column col-6 col-sm-12 col-md-12 col-xl-6 mb10">
                    <div class="left wrapper-banner">
                        <img class="shadow rounded w100" src="~/assets/User/assets/images/banner1.jpg" :alt="site.keywords" />
                        <div class="line-hover"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->

    <section id="mou">
        <div class="container">
            <div class="title-line d-flex justify-center">
                <h3>MOU</h3>
            </div>
            <div class="columns py20">
                <div class="column col-4 col-sm-12 col-md-12 col-xl-4 mb10">
                    <div class="item">
                        <div class="zoom-small">
                            <img src="~/assets/User/assets/images/mou1.jpg" alt="mou1">
                        </div>
                        <div class="py-2 d-flex align-middle scroll-mobile">
                            <small class="bold-6 bg-success rounded mr10 px-2 py-1">Công nghệ thông tin</small>
                            <small class="bold-6 bg-success rounded mr10 px-2 py-1">Marketing</small>
                            <small class="bold-6 bg-success rounded mr10 px-2 py-1">XNK</small>
                        </div>
                        <div class="name ellipsis">Tập đoàn Nashtech Global Việt Nam</div>
                        <p class="summary ellipsis-3 mb-0">
                            NashTech is part of Harvey Nash Group, the leading global
                            provider of talent and technology solutions. We are experts in technology, delivering
                            smart solutions that solve business challenges and create value. Our award-winning teams
                            apply deep expertise and passion to deliver complex IT projects globally.
                        </p>
                        <div class="text-center mt10">
                            <div class="btn btn-error">
                                Xem Thêm
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-4 col-sm-12 col-md-12 col-xl-4 mb10">
                    <div class="item">
                        <div class="zoom-small">
                            <img src="~/assets/User/assets/images/mou1.jpg" alt="mou1">
                        </div>
                        <div class="py-2 d-flex align-middle scroll-mobile">
                            <small class="bold-6 bg-success rounded mr10 px-2 py-1">Công nghệ thông tin</small>
                            <small class="bold-6 bg-success rounded mr10 px-2 py-1">Marketing</small>
                            <small class="bold-6 bg-success rounded mr10 px-2 py-1">XNK</small>
                        </div>
                        <div class="name ellipsis">Tập đoàn Nashtech Global Việt Nam</div>
                        <p class="summary ellipsis-3 mb-0">
                            NashTech is part of Harvey Nash Group, the leading global
                            provider of talent and technology solutions. We are experts in technology, delivering
                            smart solutions that solve business challenges and create value. Our award-winning teams
                            apply deep expertise and passion to deliver complex IT projects globally.
                        </p>
                        <div class="text-center mt10">
                            <div class="btn btn-error">
                                Xem Thêm
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-4 col-sm-12 col-md-12 col-xl-4 mb10">
                    <div class="item">
                        <div class="zoom-small">
                            <img src="~/assets/User/assets/images/mou1.jpg" alt="mou1">
                        </div>
                        <div class="py-2 d-flex align-middle scroll-mobile">
                            <small class="bold-6 bg-success rounded mr10 px-2 py-1">Công nghệ thông tin</small>
                            <small class="bold-6 bg-success rounded mr10 px-2 py-1">Marketing</small>
                            <small class="bold-6 bg-success rounded mr10 px-2 py-1">XNK</small>
                        </div>
                        <div class="name ellipsis">Tập đoàn Nashtech Global Việt Nam</div>
                        <p class="summary ellipsis-3 mb-0">
                            NashTech is part of Harvey Nash Group, the leading global
                            provider of talent and technology solutions. We are experts in technology, delivering
                            smart solutions that solve business challenges and create value. Our award-winning teams
                            apply deep expertise and passion to deliver complex IT projects globally.
                        </p>
                        <div class="text-center mt10">
                            <div class="btn btn-error">
                                Xem Thêm
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="employer">
        <div class="container">
            <div class="title-line d-flex justify-center">
                <h3>Nhà tuyển dụng hàng đầu</h3>
            </div>

            <div class="columns align-middle justify-center py20">
                <div class="column col-3 col-sm-6 col-md-6 col-xl-4 mb10">
                    <div class="item">
                        <img src="~/assets/User/assets/images/td1.jpg" alt="">
                    </div>
                </div>
                <div class="column col-3 col-sm-6 col-md-6 col-xl-4 mb10">
                    <div class="item">
                        <img src="~/assets/User/assets/images/td2.jpg" alt="">
                    </div>
                </div>
                <div class="column col-3 col-sm-6 col-md-6 col-xl-4 mb10">
                    <div class="item">
                        <img src="~/assets/User/assets/images/td3.jpg" alt="">
                    </div>
                </div>
                <div class="column col-3 col-sm-6 col-md-6 col-xl-4 mb10">
                    <div class="item">
                        <img src="~/assets/User/assets/images/td1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="mt10 text-center">
                <div class="btn btn-error">
                    Xem Thêm
                </div>
            </div>
        </div>
    </section>


    <section id="news">
        <div class="container">
            <div class="title-line d-flex justify-center">
                <h3>Tin tức & Sự kiện</h3>
            </div>
            <div class="columns py20">
                <div class="column col-4 col-sm-12 col-md-12 col-xl-4 mb10">
                    <div class="item">
                        <div class="zoom-small">
                            <img src="~/assets/User/assets/images/mou1.jpg" alt="mou1">
                        </div>
                        <div class="name ellipsis">Tập đoàn Nashtech Global Việt Nam</div>
                        <p class="summary ellipsis-3 mb-0">
                            NashTech is part of Harvey Nash Group, the leading global
                            provider of talent and technology solutions. We are experts in technology, delivering
                            smart solutions that solve business challenges and create value. Our award-winning teams
                            apply deep expertise and passion to deliver complex IT projects globally.
                        </p>
                        <div class="text-center mt10">
                            <div class="btn btn-error">
                                Xem Thêm
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-4 col-sm-12 col-md-12 col-xl-4 mb10">
                    <div class="item">
                        <div class="zoom-small">
                            <img src="~/assets/User/assets/images/mou1.jpg" alt="mou1">
                        </div>
                        <div class="name ellipsis">Tập đoàn Nashtech Global Việt Nam</div>
                        <p class="summary ellipsis-3 mb-0">
                            NashTech is part of Harvey Nash Group, the leading global
                            provider of talent and technology solutions. We are experts in technology, delivering
                            smart solutions that solve business challenges and create value. Our award-winning teams
                            apply deep expertise and passion to deliver complex IT projects globally.
                        </p>
                        <div class="text-center mt10">
                            <div class="btn btn-error">
                                Xem Thêm
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-4 col-sm-12 col-md-12 col-xl-4 mb10">
                    <div class="item">
                        <div class="zoom-small">
                            <img src="~/assets/User/assets/images/mou1.jpg" alt="mou1">
                        </div>
                        <div class="name ellipsis">Tập đoàn Nashtech Global Việt Nam</div>
                        <p class="summary ellipsis-3 mb-0">
                            NashTech is part of Harvey Nash Group, the leading global
                            provider of talent and technology solutions. We are experts in technology, delivering
                            smart solutions that solve business challenges and create value. Our award-winning teams
                            apply deep expertise and passion to deliver complex IT projects globally.
                        </p>
                        <div class="text-center mt10">
                            <div class="btn btn-error">
                                Xem Thêm
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>