@using BusinessConnectManagement.Models;

@{
    BCMEntities db = new BCMEntities();
    var query = db.VanLangUsers.Where(x => x.Email == User.Identity.Name).FirstOrDefault();

    string FullName = "";

    if (string.IsNullOrEmpty(query.FullName))
    {
        FullName = User.Identity.Name;
    }
    else
    {
        FullName = query.FullName;
    } 
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css" />
    @*<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="~/assets/css/jquery2.dataTables.min.css" rel="stylesheet" />

    <link href="~/assets/css/grid.css" rel="stylesheet" />
    <link href="~/assets/css/reset.css" rel="stylesheet" />
    <link href="~/assets/css/global.css" rel="stylesheet" />
    @*<link href="~/assets/css/menu2.css" rel="stylesheet" />
        <link href="~/assets/css/nav2.css" rel="stylesheet" />
        <link href="~/assets/css/button.css" rel="stylesheet" />
        <link href="~/assets/css/form.css" rel="stylesheet" />
        <link href="~/assets/css/table2.css" rel="stylesheet" />
        <link href="~/assets/css/greet.css" rel="stylesheet" />
    *@
    <link href="~/assets/css/toast.css" rel="stylesheet" />
    <link href="~/assets/css/layout.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/form.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
</head>

<body>

    @*<section class="menu">
            <a href="@Url.Action("Index", "AdminHome", new { area = "Admin" })" class="menu-image">
                <img src="~/assets/images/logoVL.png" alt="logoVL.png" />
                <span class="menu-title">Business Connection Management</span>
            </a>
            <ul class="menu-list">
                <li class="menu-item">
                    <div class="menu-function">
                        <a href="@Url.Action("AuthorizeList", "AdminHome", new { area = "Admin" })" class="menu-feature">
                            <i class="menu-icon fas fa-hand-point-right"></i>
                            Tài khoản
                        </a>
                        <a href="@Url.Action("Index", "CooperationCategories", new { area = "Faculty" })" class="menu-feature">
                            <i class="menu-icon fas fa-hand-point-right"></i>
                            Danh mục Hợp tác
                        </a>
                        <a href="@Url.Action("Index", "BusinessUsers", new { area = "Faculty" })" class="menu-feature">
                            <i class="menu-icon fas fa-hand-point-right"></i>
                            Doanh nghiệp
                        </a>
                        <a href="@Url.Action("Index", "MOUs", new { area = "Faculty" })" class="menu-feature">
                            <i class="menu-icon fas fa-hand-point-right"></i>
                            Ký kết MOU
                        </a>
                        <a href="@Url.Action("Index", "BusinessCooperationCategories", new { area = "Faculty" })" class="menu-feature">
                            <i class="menu-icon fas fa-hand-point-right"></i>
                            Hoạt động hợp tác
                        </a>
                        <a href="@Url.Action("Index", "Posts", new { area = "Faculty" })" class="menu-feature">
                            <i class="menu-icon fas fa-hand-point-right"></i>
                            Bài tuyển dụng
                        </a>
                        <a href="@Url.Action("Index", "Registration", new { area = "Faculty" })" class="menu-feature">
                            <i class="menu-icon fas fa-hand-point-right"></i>
                            Ứng tuyển
                        </a>
                    </div>
                </li>
            </ul>
        </section>

        <nav class="nav">
            <div class="nav-list">
                <div class="nav-item">
                    <i class="nav-icon far fa-bell"></i>
                </div>
                <div class="nav-item">
                    <div style="display: flex; align-items: center;">
                        <img src="~/assets/images/avatarAdmin.png" alt="avatarAdmin.png" class="nav-image" />@FullName
                    </div>
                    <ul class="nav-account-list">
                        <a href="@Url.Action("SignOut", "Account", new { area = "" })" class="nav-account-item">Đăng xuất</a>
                    </ul>
                </div>
            </div>
        </nav>*@



    <div class="wrap">
        <section class="menu">
            <div class="menu-logo">
                <a href="@Url.Action("Index", "AdminHome", new { area = "Admin" })" class="menu-link">
                    <img src="~/assets/images/logoVL.png"
                         alt=""
                         class="menu-image" />
                    <span class="menu-title">Business Connection Management</span>
                </a>
                <i class="fal fa-long-arrow-right" id="menu-icon"></i>
            </div>
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="@Url.Action("AuthorizeList", "AdminHome", new { area = "Admin" })" class="menu-feature">
                        <i class="menu-icon fal fa-users"></i>
                        <span class="menu-text">Tài khoản</span>
                    </a>
                    <span class="menu-tooltip">Tài khoản</span>
                </li>
                <li class="menu-item">
                    <a href="@Url.Action("Index", "BusinessUsers", new { area = "Faculty" })" class="menu-feature">
                        <i class="menu-icon fal fa-building"></i>
                        <span class="menu-text">Doanh nghiệp</span>
                    </a>
                    <span class="menu-tooltip">Doanh nghiệp</span>
                </li>
                <li class="menu-item">
                    <a href="@Url.Action("Index", "CooperationCategories", new { area = "Faculty" })" class="menu-feature">
                        <i class="menu-icon fal fa-globe"></i>
                        <span class="menu-text">Hợp tác</span>
                    </a>
                    <span class="menu-tooltip">Hợp tác</span>
                </li>
                <li class="menu-item">
                    <a href="@Url.Action("Index", "MOUs", new { area = "Faculty" })" class="menu-feature">
                        <i class="menu-icon fal fa-file-signature"></i>
                        <span class="menu-text">Ký kết MOU</span>
                    </a>
                    <span class="menu-tooltip">Ký kết MOU</span>
                </li>
                <li class="menu-item">
                    <a href="@Url.Action("Index", "Posts", new { area = "Faculty" })" class="menu-feature">
                        <i class="menu-icon fal fa-newspaper"></i>
                        <span class="menu-text">Tin tuyển dụng</span>
                    </a>
                    <span class="menu-tooltip">Tin tuyển dụng</span>
                </li>
                <li class="menu-item">
                    <a href="@Url.Action("Index", "BusinessCooperationCategories", new { area = "Faculty" })" class="menu-feature">
                        <i class="menu-icon fal fa-running"></i>
                        <span class="menu-text">Hoạt động</span>
                    </a>
                    <span class="menu-tooltip">Hoạt động</span>
                </li>
                <li class="menu-item">
                    <a href="@Url.Action("Index", "Registration", new { area = "Faculty" })" class="menu-feature">
                        <i class="menu-icon fal fa-id-card"></i>
                        <span class="menu-text">Ứng tuyển</span>
                    </a>
                    <span class="menu-tooltip">Ứng tuyển</span>
                </li>
            </ul>
        </section>
        <div class="content">
            <nav class="nav">
                <div class="nav-wrap">
                    <span class="nav-role">@FullName</span>
                    <div class="nav-avatar">
                        <img src="~/assets/images/avatarAdmin.png"
                             alt=""
                             class="nav-image" />
                        <div class="nav-account-list">
                            <a href="@Url.Action("SignOut", "Account", new { area = "" })" class="nav-account-item">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </nav>

            @RenderBody()


        </div>
    </div>
    <div id="icon">
        <i class="fal fa-bars"></i>
    </div>



</body>

<script src="~/assets/js/index.js"></script>

@*<script src="~/assets/js/admin.js"></script>*@
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/chosen.jquery.js"></script>
<script src="~/assets/js/datatable/dataTable.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>

    $(function () {
        $("#table_id_filter").prepend($("#filterEvent")).clone();
    });

    let formAdd = document.getElementById("addForm");
    let formUpdate = document.getElementById("updateForm");
    let formDelete = document.getElementById("deleteForm");
    let icon = document.querySelector(".form-icon");
    let isHide = "is-hide";
    let isAppear = "is-appear";

    $(".btn--create").on("click", function () {
        formAdd.classList.add(isAppear);
    });
    $("#table_listData").on("click", ".btn--update", function () {
        formUpdate.classList.add(isAppear);
    });
    $(".form-icon").on("click", function () {
        formDelete.classList.remove(isAppear);
    });

    $(".form-icon").on("click", function () {
        formUpdate.classList.remove(isAppear);
    });

    $(".form-icon").on("click", function () {
        formAdd.classList.remove(isAppear);
    });

    $(function () {
        $("#ddlBussines_ID").chosen();
    });
    $(function () {
        const toast = document.querySelector(".toast");
        setTimeout(() => {
            toast.remove();
        }, 3000);

    });
    function remove() {
        let toast = document.querySelector(".toast");
        document.querySelector(".toast-right").addEventListener("click", () => {
            toast.remove();
        });

    }
</script>
@RenderSection("scripts", required: false)

</html>