@model BusinessConnectManagement.Models.BusinessUser

@{
    Layout = "/Areas/Faculty/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<section class="list">
    <form id="createBusiness" method="post" enctype="multipart/form-data">
        <h1 class="list-heading">Chi Tiết Hoạt Động Doanh Nghiệp</h1>
        <div class="grid wide">
            <div class="tab-content">
                <div class="row">
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Tên Doanh Nghiệp</label>
                            <input name="Business_ID" value="@Model.BusinessName" class="form-input" autocomplete="off" disabled />
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <input id="CoopId" type="text" value="" name="ArrCoopId" hidden />
                            <label for="cooperation" class="form-label">Loại Hợp Tác</label>
                            <div class="checkbox-wrapper" id="checkBoxCoop">
                                @foreach (var item in ViewBag.CooperationCategoriesDetail)
                                {
                                    <label class="container">
                                        @item.name
                                        @if (item.status)
                                        {
                                            <input type="checkbox" value="@item.value" checked="checked" disabled>
                                            <span class="checkmark"></span>
                                        }
                                        else
                                        {
                                            <input type="checkbox" value="@item.value" disabled>
                                            <span class="checkmark"></span>
                                        }
                                    </label>
                                }
                            </div>
                        </div>
                    
                </div>
            </div>
            </div>
            <div class="button-wrapper">
                <a class="btn btn--detail" href="@Url.Action("Index", "BusinessCooperationCategories")">Trở Về</a>
                <a class="btn btn--update" href="@Url.Action("Edit", "BusinessCooperationCategories", new {id = Model.ID})">Cập Nhật</a>
            </div>
        </div>
    </form>
</section>
@section Scripts {
    <script type="text/javascript">function getValueCheckBoxAndSubmit() {
            let arrayCheckbox = "";
            var allCheckBox = document.querySelectorAll("#checkBoxCoop > .container > input[type='checkbox']:checked");
            for (let i = 0; i < allCheckBox.length; i++) {
                arrayCheckbox += allCheckBox[i].value + ",";
            }
            $("#CoopId").val(arrayCheckbox);
            $("#createBusiness").save();
        }</script>
}

