@model IEnumerable<BusinessConnectManagement.Models.BusinessUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Faculty/Views/Shared/_Layout.cshtml";
}

<section class="list">
    <form id="createBusiness" action="@Url.Action("Index","BusinessCooperationCategories")" method="post" enctype="multipart/form-data">

        <h1 class="list-heading">Danh sách hoạt động</h1>
        <div class="list-table">
            <div id="filterEventA">
                <a class="btn btn-action btn--create mr-1" href=@Url.Action("Create","BusinessCooperationCategories")>Thêm</a>
            </div>
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên doanh nghiệp</th>
                        <th>Hoạt đông tài trợ</th>
                        <th class="text-center"
                                <a class="btn btn-action btn--create" href="./addNewBusiness.html">Thêm</a>

                            </th>
                    </tr>
                </thead>
                <tbody id="example">
                    @{int count = 1;}
                    @foreach (var item in ViewBag.demo)
                    {
                        <tr class="example2">
                            <td>@count</td>
                            <td>
                                @item.name
                            </td>


                            <td>

                                @item.value

                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Details", "BusinessCooperationCategories", new {id = item.id})" class="btn btn-action btn--detail">Xem chi tiết</a>
                                <a href="@Url.Action("Edit", "BusinessCooperationCategories", new {id = item.id})" class="btn btn-action btn--update">Cập Nhật</a>
                                <a class="btn btn-action btn--delete" onclick="loadDeleteUser( '@item.id')">Xóa</a>

                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </form>
</section>
<form action="@Url.Action("DeleteActivity", "BusinessUsers")" class="form" id="deleteForm" method="post">
    @{using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
           
    <div class="form-container">
        <i class="form-icon fas fa-times-circle"></i>
        <h1 class="form-heading">Xác nhận</h1>
        <input name="id" id="iddele" hidden/>
        <span>
            Bạn có muốn <strong style="font-weight: bold; color: #ce1b28;">xóa hoạt động </strong>
            này không
            ?
        </span>

        <div class="form-group">
            <button type="submit" class="btn btn-action btn--update">Xác nhận</button>
        </div>
    </div>
        }
    }
</form>
@section Scripts {
    <script type="text/javascript">
       
       
        function loadDeleteUser(id) {
            let formDelete = document.getElementById("deleteForm");
            formDelete.classList.add('is-appear')
            document.getElementById('iddele').value = id;

        }
       
    </script>
}
