@model BusinessConnectManagement.Models.BusinessUser

@{
    ViewBag.Title = "Create Business";
    Layout = "~/Areas/Faculty/Views/Shared/_Layout.cshtml";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<section class="list">
    <form id="createBusiness" action="@Url.Action("Create", "BusinessUsers")" method="post" enctype="multipart/form-data">
        <h1 class="list-heading">Thêm doanh nghiệp</h1>
        <div class="grid wide">
            <div class="tab-content">
                <div class="row">
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Mã Doanh Nghiệp</label>
                            @Html.EditorFor(model => model.Business_ID, new { htmlAttributes = new { @class = "form-input" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.Business_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Tên Doanh Nghiệp</label>
                            @Html.EditorFor(model => model.BusinessName, new { htmlAttributes = new { @class = "form-input" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.BusinessName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Mật Khẩu</label>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-input" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Địa Chỉ</label>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-input" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Số điện thoại</label>
                            @Html.EditorFor(model => model.BusinessPhone, new { htmlAttributes = new { @class = "form-input" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.BusinessPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Website</label>
                            @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-input" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Fanpage</label>
                            @Html.EditorFor(model => model.Fanpage, new { htmlAttributes = new { @class = "form-input" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.Fanpage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Tên Người Liên Hệ</label>
                            @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-input" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">SĐT Người Liên Hệ 1</label>
                            @Html.EditorFor(model => model.ContactPhone_1, new { htmlAttributes = new { @class = "form-input" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.ContactPhone_1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">SĐT Người Liên Hệ 2</label>
                            @Html.EditorFor(model => model.ContactPhone_2, new { htmlAttributes = new { @class = "form-input" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.ContactPhone_2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label class="form-label">Email Người Liên Hệ</label>
                            @Html.EditorFor(model => model.EmailContact, new { htmlAttributes = new { @class = "form-input" } })
                        </div>
                        <div class="form-group">
                            <label class="form-label" hidden></label>
                            @Html.ValidationMessageFor(model => model.EmailContact, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col l-6">
                    </div>
                    <div class="col l-6">
                        <div class="form-group">

                            <input id="CoopId" type="text" value="" name="ArrCoopId" hidden />
                            <label for="cooperation" class="form-label">Loại Hợp Tác</label>
                            <div class="checkbox-wrapper" id="checkBoxCoop">
                                @foreach (var item in ViewBag.CooperationCategories)
                                {
                                    <label class="container">
                                        @item.CooperationCategoriesName

                                        <input type="checkbox" value="@item.ID" />
                                        <span class="checkmark"></span>
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="form-group">
                            <label for="logo" class="form-label">Logo</label>
                            <div style="display: flex; flex-direction: column">
                                <img style="width: 22rem; height:fit-content; margin: 0 0 1rem 0;" />
                                <input name="logo" id="logo" class="form-input" type="file"
                                       accept="image/png, image/gif, image/jpeg" required />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrapper">
                <a class="btn btn-action btn--detail" href="@Url.Action("Index", "BusinessUsers")">Trở Về</a>
                <button class="btn btn-action btn--create" type="submit" onclick="getValueCheckBoxAndSubmit()">Thêm</button>
            </div>
        </div>
    </form>

</section>

@section Scripts {
    <script type="text/javascript">
        function getValueCheckBoxAndSubmit() {
            let arrayCheckbox = "";
            var allCheckBox = document.querySelectorAll("#checkBoxCoop > .container > input[type='checkbox']:checked");
            for (let i = 0; i < allCheckBox.length; i++) {
                arrayCheckbox += allCheckBox[i].value + ",";
            }
            $("#CoopId").val(arrayCheckbox);
            $("#createBusiness").save();
        }
    </script>
}