@model IEnumerable<BusinessConnectManagement.Models.BusinessUser>

@{
    ViewBag.Title = "Business User";
    Layout = "~/Areas/Faculty/Views/Shared/_Layout.cshtml";
}

<section class="list">
    <h1 class="list-heading">Danh sách Doanh nghiệp</h1>
    <div class="list-table">
        <div id="filterEvent">
            <a href=@Url.Action("Create", "BusinessUsers")>
                <div class="btn btn--create">
                    <i class="btn-icon btn-icon--create fas fa-plus"></i>
                    <span class="btn-text">Thêm</span>
                </div>
            </a>
           
        </div>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Mã Doanh Nghiệp</th>
                    <th class="text-center">Tên Doanh Nghiệp</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Người Liên Hệ</th>
                    <th class="text-center">Số Điện Thoại</th>
                    <th class="text-center" width="20%">  </th>
                </tr>
            </thead>
            <tbody>
                    @{int count = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td @Url.Action("DetailsBusiness", "BusinessUsers", new { id = item.ID })>@count</td>

                        <td>
                            <a href="@Url.Action("DetailsBusiness", "BusinessUsers", new { id = item.ID })">
                                <div>
                                    @item.Username
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("DetailsBusiness", "BusinessUsers", new { id = item.ID })">
                                <div>
                                    @item.BusinessName
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("DetailsBusiness", "BusinessUsers", new { id = item.ID })">
                                <div>
                                    @item.EmailContact
                                </div>
                            </a>
                        </td>
                       
                        <td>
                            <a href="@Url.Action("DetailsBusiness", "BusinessUsers", new { id = item.ID })">
                                <div>
                                    @item.ContactName
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("DetailsBusiness", "BusinessUsers", new { id = item.ID })">
                                <div>
                                    @item.ContactPhone_1
                                </div>
                            </a>
                        </td>

                        <td class="text-center">
                            <a href="@Url.Action("DetailsBusiness", "BusinessUsers", new { id = item.ID})">
                                <div class="btn btn--detail">
                                    <i class="btn-icon btn-icon--detail fas fa-info-circle"></i>
                                    <span class="btn-text">Xem Chi Tiết</span>
                                </div>
                            </a>

                             <a href="@Url.Action("Details", "BusinessUsers", new { id = item.ID})">
                                <div class="btn btn--update">
                                    <i class="btn-icon btn-icon--edit fas fa-edit"></i>
                                    <span class="btn-text">Cập Nhật</span>
                                </div>
                            </a>

                           
                        </td>

                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</section>
