@model IEnumerable<BusinessConnectManagement.Models.BusinessUser>

@{
    ViewBag.Title = "Business User";
    Layout = "~/Areas/Faculty/Views/Shared/_Layout.cshtml";
}

<section class="list">
    <h1 class="list-heading">Danh sách Doanh nghiệp</h1>
    <div class="list-table">
        <div id="filterEvent">
           
        </div>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã Doanh Nghiệp</th>
                    <th>Tên Doanh Nghiệp</th>
                    <th>Email</th>
                    <th>Địa Chỉ</th>
                    <th>Số Điện Thoại</th>
                    <th class="text-center"> <a class="btn btn-action btn--create mr-1" href=@Url.Action("Create", "BusinessUsers")>Thêm</a> </th>
                </tr>
            </thead>
            <tbody>
                    @{int count = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.Business_ID</td>
                        <td>@item.BusinessName</td>
                        <td>@item.EmailContact</td>
                        <td>@item.Address</td>
                        <td><a href="#">@item.BusinessPhone</a></td>

                        <td class="text-center">
                            <a href="@Url.Action("Details", "BusinessUsers", new { id = item.Business_ID})" class="btn btn-action btn--detail">Xem chi tiết</a>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</section>